*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --background-color: rgb(6, 11, 25);
  --border-color: rgb(255, 255, 255, 0.1);
}
body{
  background-color: rgb(6, 11, 25);
}
a {
  text-decoration: none;
}
.conteudo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20%;
    margin-bottom: 20%;
}