<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Controle de Gastos - LOGIN</title>
    <link rel="stylesheet" href="../styles/style-login.css">
    <link rel="stylesheet" href="../styles/globalStyle.css">
</head>
<body>
    <nav id="nav-logo-seccao" class="nav-seccao">
        <a>Logo</a>
    </nav>
    <div class="conteudo">
    <div class="form">
        <p id="plogin">LOGIN</p>
        <form>
            <div class="divEmail">
                <label for="email">E-mail:</label>
                <input type="email" id="email" required placeholder="Digite o seu email">
            </div>
            <div class="divSenha">
                <label for="senha">Senha:</label>
                <input type="password" id="senha" required placeholder="Digite a sua senha">
            </div>
        </form>
        <div class="divBtn">
            
                <button id="register-page">Registar</button>
        </div>
        <div class="divBtn">
            <button id="login">Login</button>
                <p>Recuperar Senha</p>
        </div>
    </div>
</div>

   <script src="../../Controller/script-index-rotas.js"></script>
</body>
</html>