<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Controle de Gastos - REGISTER</title>
</head>
<body>
    <div class="conteudo">
        <div class="form">
            <p id="plogin">LOGIN</p>
            <form>
                <div class="divName">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" required placeholder="Digite o seu Nome">
                </div>

                <div class="divLastName">
                    <label for="sobrenome">Sobrenome:</label>
                    <input type="text" id="sobrenome" required placeholder="Digite o seu Sobrenome">
                </div>

                <div class="divEmail">
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" required placeholder="Digite o seu email">
                </div>

                <div class="divSenha">
                    <label for="senha">Senha:</label>
                    <input type="password" id="senha" required placeholder="Digite a sua senha">
                </div>

                <div class="divSenhaConfirm">
                    <label for="senhaConfirm">Senha:</label>
                    <input type="password" id="senhaConfirm" required placeholder="Digite a sua senha novamente">
                </div>

                <div class="divBtn">
                    <button id="register">Registar</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>