<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Controle de Gastos</title>
    <link rel="stylesheet" href="style-index.css">
    <link rel="stylesheet" href="../View/styles/globalStyle.css">
</head>
<body>
    <div class="fundo"></div>
    <nav>
        <div id="nav-logo-seccao" class="nav-seccao">
            <a>Logo</a>
        </div>
    </nav>
    <div class="conteudo">
    
    <p><h1>Sistema de controle de Gastos</h1></p>   
    </p>Com este sistema procuramos po-lo em controlo dos seus gastos, 
    isto com o objectivo de atinguir a sua independencia financeira.</p>
    <button id="entrar-btn">Comecar</button>
    </div>
    <script src="../Controller/script-index-rotas.js"></script>
</body>
</html>
