.conteudo p{
    margin-bottom: 3px;
}
.conteudo button{
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
    padding: 20px 50px;
    border-radius: 30px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    background-color: rgb(6, 11, 25);
    color: white;
}
.conteudo button:hover{
    transform: scale(1.1);
    border: 1px solid white;
    background-color: rgb(255, 255, 255, 0.1);
    color: white;
}
.conteudo{
    height: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    
}
.nav-seccao {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid rgb(255, 255, 255, 0.1);
}
#nav-logo-seccao {
    color: white;
    font-size: 2.5rem;
}
.conteudo > h1 {
    margin-bottom: 1rem;
}
.conteudo > p {
    margin-bottom: 2rem;
    text-align: justify;
}